.home {

    gap: 15px;

    .questionnaire-box {

        padding: 0px 5px;
        gap: 15px;

        div>nav {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 45px;
            padding-left: 15px;
            padding-right: 15px;
            box-shadow: 0 0.1px 6px 0 rgba(0, 0, 0, 0.1),
                0 1.5px 2px 0 rgba(0, 0, 0, 0.1);

            h2 {

                color: $darkGray;
            }

            section {

                button {

                    background-color: rgb(255, 255, 255);
                    border: none;
                    color: rgb(6, 98, 236);
                    font-family: Fb Tubic light;
                    cursor: pointer;
                }

                :hover {

                    color: $greenTopHue;

                }

            }

        }

        .restart-btn {
            
            display: none;
            opacity: 0;
            margin-top: -10px;
            background-color: white;
            border: none;
            height: 70px;

        }

    }

}