.main-footer {

    text-align: center;

    hr {

        border-color: #513C3C;
        opacity: 15%;
    }

    h6 {

        font-family: Fb tubic light;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}